---
import If from "./If.astro";
import PrettyDate from "./PrettyDate.astro";

type Props = {
    excludeDrafts: boolean,
    maxPosts: number
}

const { excludeDrafts, maxPosts } = Astro.props;

// Grab all blog posts and sort them by 'pubDate'
// todo: This is deprecated now, see: https://docs.astro.build/en/guides/upgrade-to/v5/#deprecated-astroglob
const allPosts = await Astro.glob('../pages/writing/*/*/*.md');
allPosts.sort((a, b) => {
    return b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate);
});

// Restrict to the number of posts to want to show
const posts = allPosts.slice(0, Math.min(allPosts.length, maxPosts));

---

<p>Here are my latest posts:</p>

<ul class="posts">
    {
        posts.map(post => {
            if(excludeDrafts && post.frontmatter.draft) {
                return null;
            }
            
            return (
                <li class="post-preview">
                    <a class="post-preview__title" href={post.url}>{post.frontmatter.title}<If condition={post.frontmatter.draft}> (draft)</If></a>
                    - <PrettyDate date={post.frontmatter.pubDate} />
                </li>
            )
        })
    }
</ul>