/* 
    Base styles 
*/

:root {
    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1538px;

    /* Fonts */
    --font-family: 'Helvetica', 'Arial', sans-serif;

    /* Colours */
    /* Palette: https://coolors.co/8e3b46-e1dd8f-e0777d-4c86a8-477890 */
    --font-body-text-colour: #454545;
    --link-colour: hsl(202.66deg 57.43% 40%);

    /* Blog post main header */
    --blog-post-header-text-colour: #fff;
    --blog-post-header-colour: hsl(202.66deg 57.43% 50%);

    /* Post series header */
    --blog-post-series-header-colour: #3691c938;
    --blog-post-series-header-active-colour: var(--blog-post-header-colour);
    --blog-post-series-header-text-colour: #fff;


    --blockquote-background-colour: hsl(323.5deg 57.43% 50%);
    --blockquote-text-colour: #FFF;

    --post-preview-text-colour: var(--font-body-text-colour);

    --draft-warning-background-colour: #c93636;
    --draft-warning-text-colour: #fff;

    --inline-code-background-colour: #222222;
    --inline-code-text-colour: #9CDCFE;

    /* Sizes, inspired by https://www.joshwcomeau.com/css/surprising-truth-about-pixels-and-accessibility/ */
    --14px: 0.875rem;
    --16px: 1rem;
    --18px: 1.125rem;
    --20px: 1.25rem;
    --22px: 1.375rem;
    --24px: 1.5rem;
    --28px: 1.75rem;
}

html {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    color: var(--font-body-text-colour);
}

img {
    display: block;
}

/* 
    Layout 
*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        display: flex;
        margin-top: 30px;
    }
}

/* 
    Typography 
*/

/* Normalise margins */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

h1 {
    font-size: var(--22px);
}

h2 {
    font-size: var(--20px);
}

h3 {
    font-size: var(--16px);
}

h1,
h2,
h3 {
    margin-bottom: 10px;
}

p {
    font-size: var(--16px);
    margin-bottom: 10px;
}

a {
    color: var(--link-colour);
}

/*
    Components
*/

/* Sidebar */
.sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sidebar__title {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    font-size: var(--18px);
}

.sidebar__quote {
    flex-basis: 100%;
    margin: 0;
    padding: 0 10px;
}

.sidebar__photo {
    max-width: 100%;
    order: 4;
}

@media (min-width: 768px) {
    .sidebar {
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sidebar__title {
        margin-bottom: 0px;
        font-size: var(--28px);
    }

    .sidebar__quote {
        margin-bottom: 15px;
    }

    .sidebar__photo {
        max-width: 200px;
        margin-bottom: 30px;
        order: 0;
    }

    .sidebar__title,
    .sidebar__quote {
        order: 2;
        flex-basis: auto;
        padding: 0;
    }

    picture {
        order: 1;
    }
}

/* Post preview */
.post-preview {
    margin-bottom: 5px;
}

.post-preview time {
    font-size: var(--14px);
    color: var(--post-preview-text-colour);
}

/*
    Blog posts
*/

.post {
    padding-bottom: 50px;
}

.post ul {
    margin-top: 0;
    margin-bottom: 15px;
}

.post ul ul {
    margin-bottom: 0;
}

.post>ul:first-of-type {
    margin-top: 20px;
}

.post h2 {
    margin-top: 25px;
}

.post h3 {
    margin-top: 20px;
}

.post img {
    width: auto;
    max-height: 500px;
    margin: 0 auto;
}

.post__title {
    font-size: var(--22px);
    color: var(--blog-post-header-text-colour);
    background-color: var(--blog-post-header-colour);
    display: inline-block;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -15px;
    margin-right: -15px;
}

.post__metadata {
    font-size: var(--14px);
    margin-bottom: 10px;
    display: block;
}


.post__series-header {
    margin-bottom: 10px;
}

.post__series-header a {
    margin-right: 5px;
    padding: 3px 7px;
    background-color: var(--blog-post-series-header-colour);
    font-size: var(--14px);
    display: inline-block;
    text-decoration: none;
}

.post__series-header a.active {
    background-color: var(--blog-post-series-header-active-colour);
    color: var(--blog-post-series-header-text-colour);
}

.post__series-header a:last-child {
    margin-right: 0;
}


@media (min-width: 768px) {
    .post__title {
        padding: 3px 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

hr {
    border-top: 1px solid #CCC;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Code blocks */
pre {
    padding: 20px;
    font-size: var(--14px);
}

code {
    background-color: var(--inline-code-background-colour);
    color: var(--inline-code-text-colour);
    font-size: 85%;
    padding: 2px 4px;
    border-radius: 5px;
}

pre code {
    font-size: 100%;
    padding: 0;
}

/* Quotes */
blockquote {
    background-color: var(--blockquote-background-colour);
    color: var(--blockquote-text-colour);

    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: 30px;
    margin-top: 30px;

    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

blockquote>p {
    margin: 0;
}

blockquote a {
    color: var(--blockquote-text-colour);
}

.draft-warning {
    background-color: var(--draft-warning-background-colour);
    color: var(--draft-warning-text-colour);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.draft-warning p {
    margin-bottom: 0;
}

/*
    Page styles
*/

section {
    margin-bottom: 30px;
}

section h2 {
    background-color: var(--blog-post-header-colour);
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    margin-bottom: 15px;
}

#about h2 {
    margin-top: 20px;
}

#writing h2 {
    background-color: var(--blockquote-background-colour);
}

#projects h2 {
    background-color: #454545;
}

/*
    Utilities
*/

@media (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
}