---
import If from '@components/If.astro';
import PrettyDate from '@components/PrettyDate.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title + " | Daniel Moffat"} description={frontmatter.description}>
    <div class="post">
        <header class="post__header">
            <h1 class="post__title">{frontmatter.title} <If condition={!!frontmatter.draft}>(draft)</If></h1>
            <p class="post__metadata">Written by <b>Daniel Moffat</b> on <b><PrettyDate date={frontmatter.pubDate} /></b></p>
        </header>
        <If condition={!!frontmatter.draft}>
            <div class="draft-warning">
                <p>This post is a draft, and is still being worked on.</p>
            </div>
        </If>
        <slot />
    </div>
</BaseLayout>